.s-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20vh;
}

.s-container h1{
    font-size: 5rem;
}

.s-buttons-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:50%;
    height:30vh;
    margin:35px;
}

.s-buttons-container button{
    margin: 2vh;
    padding: 10px;
    width: 50%;
    border: none;
    background-color: white;
    color: darkslateblue;
    font-size: 1.5rem;
    border-radius: 3px;
}

.s-buttons-container button:hover{
    background-color: rgb(204, 200, 200);
}

.s-buttons-container button:active{
    background-color: dimgray;
}

.s-buttons-container input{
    width:50%;
    padding:5px;
}